{% extends "layout.html" %}
{% block style %}
<style>
    .panel {
        display: grid;
        grid-template-columns: repeat(4, auto);
    }

    img[vertical_logo] {
        max-height: 8em;
        width: auto;
    }

    .info {
        width: max-content;
    }

    .container {
        display: inline-block;
        padding: 0.5em;
        border: 1px solid #ccc;
        text-align: center;
    }

    div[info] {
        text-align: left;
    }

    span[mark] {
        color: #3c3c3c;
    }

    a[name] {
        font-size: 1.1rem;
    }

    .logo {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 0.5em;
    }
</style>
{% endblock %}
{% block content %}

<div class="panel">
    {% for auction in auctions %}
        {% if not auction.is_over() %}
            <div class="container">
                <div class="logo">
                    <a href="/auction/{{ auction.id }}">
                    <img vertical_logo src="/static/assets/hard/{{ auction.hard_asset.get_images()[0] }}"
                        alt="{{ auction.hard_asset.name }} image">
                    </a>
                </div>
                <br>
                <a name href="/auction/{{ auction.id }}">{{ auction.hard_asset.name }}</a>
                <br>
                <div info>
                    <span mark>Auction price</span>: <span class="m">{{ auction.final_price | price }}</span><br>
                    <span mark>Propery value</span>: <span class="m">{{ auction.hard_asset.value | price }}</span><br>
                    <span mark>Current owner</span>: <a href="/user/{{ auction.get_seller().id }}">{{ auction.get_seller().username }}</a><br>
                    <span mark>Auction start</span>: <span class="t">{{ auction.start | time }}</span> <br>
                    <span mark>Status</span>:
						{% set status = auction.is_bidder(current_user) %}
						{% if status %}
							<span class="status involved"></span>
						{% else %}
							<span class="status not_involved"></span>
						{% endif %}
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>
{% endblock %}