{% extends "layout.html" %}
{% block style %}
<style>
    .panel {
        display: grid;
        grid-template-columns: repeat(4, auto);
    }

    .info {
        width: max-content;
    }

    .container {
        display: inline-block;
        padding: 0.5em;
        border: 1px solid #ccc;
        text-align: center;
    }

    div[info] {
        text-align: left;
    }

    span[mark] {
        color: #3c3c3c;
    }

    a[name] {
        font-size: 1.3rem;
    }

    .logo {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 3em;
        margin-top: 0.5em;
    }
</style>
{% endblock %}
{% block content %}

<div class="panel">
    {% for company in companies %}
    <div class="container">
        <div class="logo">
            <a href="/market/assets/l/bonds/{{ company.id }}">
            <img vertical_logo src="/static/companies/{{ company.get_images()[0] }}"
                alt="{{ company.name }} image">
            </a>
        </div>
        <br>
        <a name href="/market/assets/l/bonds/{{ company.id }}">{{ company.name }}</a>
        <br>
        <br>
        <div info>
            <span mark>Value</span>: {{ company.value | price }}
            <br>
            <span mark>Bond number</span>: {{ company.bond_number() }}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}