{% extends "layout.html" %}
{% block content %}
<table tb class="col-12">
    <tr>
        <td colspan="100">{{ company.name }}</td>
    </tr>
    <tr>
        <td colspan="100">
            {{ company_image(company) }}
        </td>
    </tr>
    <tr>
        <td colspan="1">Company value</td>
        <td colspan="20">{{ company.value | price }}</td>
    </tr>
    <tr>
        <td colspan="1">Total bonds</td>
        <td colspan="20">{{ company.bond_number() }}</td>
    </tr>
</table>
<br>
<table tb class="col-12">
    <tr>
        <th colspan="3">Info</th>
        <th colspan="3">Bond</th>
        <th colspan="2">Sale</th>
        <th colspan="3">Returns</th>
    </tr>
    <tr>
        <th>Company name</th>
        <th>User</th>
        <th>Number of bonds</th>

        <th>Interest rate</th>
        <th>Value</th>
        <th>Full Value</th>


        <th>Sale price</th>
        <th>Full sale price</th>
        <th>Profit / bond</th>
        <th>Full profit</th>
        <th>Returns</th>
    </tr>
    {% for bond_number, sale, bond, user in bond_sales %}
        <tr>
            <td>{{ company.name }}</td>
            <td>{{ user_link(user) }}</td>
            <td>{{ bond_number }}</td>
            
            <td>{{ (bond.interest_rate - 1) * 100 | percent }}</td>
            <td>{{ bond.value | price }}</td>
            <td>
                {% if bond_number > 1 %}
                    {{ bond.value * bond_number | price }}
                {% else %}
                    /
                {% endif %}
            </td>

            <td>{{ sale.price  | price }}</td>
            <td>
                {% if bond_number > 1 %}
                    {{ sale.price * bond_number | price }}
                {% else %}
                    /
                {% endif %}
            </td>
            <td>
                {% set profit_per_bond = bond.value * bond.interest_rate - sale.price %}
                {% if profit_per_bond < 0 %}
                    {{ profit_per_bond | price('neg') }}
                {% elif profit_per_bond > 0 %}
                    {{ profit_per_bond | price('pos') }}
                {% else %}
                    {{ profit_per_bond | price }}
                {% endif %}
            </td>
            <td>
                {% if bond_number > 1 %}
                    {% set full_profit = profit_per_bond * bond_number %}
                    {% if full_profit < 0 %}
                        {{ full_profit | price('neg') }}
                    {% elif full_profit > 0 %}
                        {{ full_profit | price('pos') }}
                    {% else %}
                        {{ full_profit | price }}
                    {% endif %}
                {% else %}
                    /
                {% endif %}
            </td>
            <td>
                {% set returns = profit_per_bond /  bond.value * 100 %}
                {% if returns < 0 %}
                    {{ returns | percent('neg') }}
                {% elif returns > 0 %}
                    {{ returns | percent('pos') }}
                {% else %}
                    {{ returns | percent }}
                {% endif %}
            </td>
            <td>
                <button>BUY</button>
            </td>
        </tr>
    {% endfor %}
</table>
{% endblock %}