{% extends "layout.html" %}
{% block content %}
<table tb class="col-12">
    <tr>
        <td colspan="4">{{ company.name }}</td>
    </tr>
    <tr>
        <td colspan="4">
            {{ company_image(company) }}
        </td>
    </tr>
    <tr>
        <td colspan="2">Company value</td>
        <td colspan="2">{{ company.value | price }}</td>
    </tr>
    <tr>
        <td colspan="2">Total bonds</td>
        <td colspan="2">{{ company.bond_number() }}</td>
    </tr>
    <tr>
        <th>User</th>
        <th>Number of bonds</th>
        <th>Value</th>
        <th>Full value</th>
    </tr>
    {% for bond_number, user, bond in bonds %}
    <tr>
        <td>{{ user_link(user) }}</td>
        <td>{{ bond_number }}</td>
        <td>{{ bond_number * bond.value | price }}</td>
        <td>{{ bond_number * bond.full_value() | price }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}