{% extends "layout.html" %}
{% block style %}

<style>
    table {
        width: 100%;
    }
</style>

{% endblock %}
{% block content %}
<table tb>
    <tr>
        <td colspan="4">{{ company.name }}</td>
    </tr>
    <tr>
        <td colspan="4">
            <a href="/assets/l/company/{{ company.id }}">
            <img company_logo src="/static/companies/{{ company.get_images()[0] }}" alt="{{ company.name }} image">
            </a>
        </td>
    </tr>
    <tr>
        <td colspan="2">Company value</td>
        <td colspan="2">{{ company.value | price }}</td>
    </tr>
    <tr>
        <td colspan="2">Total shares</td>
        <td colspan="2">{{ company.share_number() }}</td>
    </tr>
    <tr>
        <th>User</th>
        <th>Number of shares</th>
        <th>Value</th>
        <th>Percentage</th>
    </tr>
    {% for share_number, user in shares %}
    <tr>
        <td>{{ user_link(user) }}</td>
        <td>{{ share_number }}</td>
        <td>{{ share_number * company.share_value | price }}</td>
        <td>{{ share_number / company.share_number() * 100  | price }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}