{% extends "layout.html" %}
{% block style %}
<style>
    .panel {
		display: inline-flex;
		flex-wrap: wrap;
		justify-content: flex-start;
        /*display: grid;
        grid-template-columns: repeat(4, auto);*/
    }

    img[vertical_logo] {
        max-height: 8em;
        width: auto;
    }

    .info {
        width: max-content;
    }

    .container {
		/*
			display: inline-block;
			padding: 0.5em;
			border: 1px solid #ccc;
			text-align: center;
		*/
		display: inline-flex;
		padding: 0.5em;
		border: 1px solid #ccc;
		text-align: center;
		flex-direction: column;
		justify-content: space-between;
		width: calc(25% - 1em - 2px);
    }

    div[info] {
        text-align: left;
    }

    span[mark] {
        color: #3c3c3c;
    }

    a[name] {
        font-size: 1.1rem;
    }

    .logo {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 0.5em;
    }
</style>
{% endblock %}
{% block content %}

<div class="panel">
    {% for sale in sales.items %}
        {{ ha_market(sale) }}
    {% endfor %}
</div>

{{ pagination(sales, 'market.market_hard_asset_category', params={'category': category}) }}

{% endblock %}