
.alert {
    padding: 0.5em;
    border-radius: 0.2em;
    background-color: #2196F3;
    color: #0e3555;
    opacity: 1;
    transition: opacity 0.6s;
    margin-bottom: 0.5em;
    font-size: small;
    position: relative;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-radius: 0.25rem;
}

.alert.primary {
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}

.alert.secondary {
    color: #383d41;
    background-color: #e2e3e5;
    border-color: #d6d8db;
}

.alert.success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.alert.error {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.alert.warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}

.alert.info {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
}

.alert.light {
    color: #818182;
    background-color: #fefefe;
    border-color: #fdfdfe;
}

.alert.dark {
    color: #1b1e21;
    background-color: #d6d8d9;
    border-color: #c6c8ca;
}

.alert .close_alert {
    margin-left: 1em;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
}

.alert .close_alert:hover {
    color: black;
}

.close_alert:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.close_alert:focus,
.close:hover {
    color: #000;
    text-decoration: none;
    opacity: 0.75;
}

.alert .close_alert {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5rem 1rem;
    color: inherit;
}

button.close_alert {
    padding: 0;
    background-color: transparent;
    border: 0;
    user-select: none;
    -webkit-appearance: none;
}

.close_alert {
    float: right;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: 0.5;
}
