{% extends "layout.html" %}
{% block style %}
<style>
    img[bank_logo_min] {
        display: inline-block;
        max-height: 2em;
    }
</style>
{% endblock %}
{% block content %}
<table tb>
    <tr>
        <th>Bank logo</th>
        <th>Bank Name</th>
        <th>Bank value</th>
        <th>Debt</th>
    </tr>
    {% for bank in banks %}
    <tr>
        <td>
            <img bank_logo_min src="/static/logos/{{ bank.get_images()[0] }}" alt="{{ bank.name }} image">
        </td>
        <td>{{ bank.name }}</td>
        <td>${{ "{:,.2f}".format(bank.legal_person.balance) }}</td>
        <td></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}