{% extends "layout.html" %}
{% block content %}

Your balance: ${{ '{:,.2f}'.format(current_user.balance) }}

<h3>Payments made</h3>
Total payments made: ${{ current_user.total_payments_made }}
<table tb>
    <tr>
        <th>Amount</th>
        <th>Receipient</th>
        <th>Time</th>
    </tr>
    {% for payment in current_user.payments_made() %}
        <tr>
            <td>${{ payment.amount }}</td>
            <td>{{ payment.payee.username }}</td>
            <td>{{ payment.time }}</td>
        </tr>
    {% endfor %}
</table>
<br>

<h3>Payments received</h3>
Total payments received: ${{ current_user.total_payments_received }}
<table tb>
    <tr>
        <th>Amount</th>
        <th>Payer</th>
        <th>Time</th>
    </tr>
    {% for payment in current_user.payments_received() %}
        <tr>
            <td>${{ payment.amount }}</td>
            <td>{{ payment.payer.username }}</td>
            <td>{{ payment.time }}</td>
        </tr>
    {% endfor %}
</table>
{% endblock %}