{% extends "layout.html" %}
{% block style %}
<style>
    [subnav] {
        padding-left: 2em;
    }
    
    .logo {
        height: 100px;
        width: 150px;
    }
    
    div.container {
        display: inline-block;
        padding: 0.2em;
        border-radius: 3px;
        text-align: center;
    }
    
    div.container:hover {
        background-color: #002fff4a;
    }
    
    div.multi {
        padding: 1em;
        border-bottom: 1px solid #9d9d9d;
        margin-bottom: 1em;
    }
    
    summary {
        padding: 3px;
    }
    
    summary:hover {
        background-color: #002fff4a;
    }
</style>
{% endblock %}
{% block content %}
<!-- 
    <details>
        <summary><a href="/market/hard_assets">Hard assets</a></summary>
        <div subnav>
            <a href="/market/art">Art</a><br>
            <a href="/market/energy">Energy</a><br>
            <a href="/market/fashion">Fashion</a><br>
            <a href="/market/food_industry">Food industry</a><br>
            <a href="/market/historical_artifacts">Historical artifacts</a><br>
            <a href="/market/pharmaceutical_industry">Pharmaceutical industry</a><br>
            <a href="/market/rare_earths">Rare earths</a><br>
            <a href="/market/real_estate">Real estate</a><br>
            <a href="/market/technology">Technology</a><br>
            <a href="/market/telecommunications">Telecomunications</a><br>
            <a href="/market/transport">Transport</a><br>
        </div>
    </details>
    <details>
        <summary><a href="/market/liquid_assets">Liquid assets</a></summary>
        <div subnav>
            <a href="/market/bonds">Bonds</a><br>
            <a href="/market/debt">Debt</a><br>
            <a href="/market/futures">Futures</a><br>
            <a href="/market/stocks">Stocks</a><br>
        </div>
    </details>
    <a href="/market/trades" style="padding-left: 1em;">Trades</a><br>
    <a href="/market/auctions" style="padding-left: 1em;">Auctions</a><br>
-->
<!-- <h2>Categories</h2> -->
<details>
    <summary><a href="/market/hard_assets">Hard assets</a></summary>
    <div class="multi">
        <div class="container"><a href="/market/hard_assets/art"><img src="{{url_for('static', filename='logos/art.jpg')}}" class="logo"><br>Art</a></div>
        <!-- <div class="container"><a href="/market/hard_assets/energy"><img src="{{url_for('static', filename='logos/energy.jpg')}}" class="logo"><br>Energy</a></div> -->
        <!-- <div class="container"><a href="/market/hard_assets/fashion"><img src="{{url_for('static', filename='logos/fashion.jpg')}}" class="logo"><br>Fashion</a></div> -->
        <!-- <div class="container"><a href="/market/hard_assets/food_industry"><img src="{{url_for('static', filename='logos/food_industry.jpg')}}" class="logo"><br>Food industry</a></div> -->
        <div class="container"><a href="/market/hard_assets/historical_artifacts"><img src="{{url_for('static', filename='logos/historical_artifacts.jpg')}}" class="logo"><br>Historical artifacts</a></div>
        <div class="container"><a href="/market/hard_assets/rare_earths"><img src="{{url_for('static', filename='logos/rare_earths.jpg')}}" class="logo"><br>Rare earths</a></div>
        <div class="container"><a href="/market/hard_assets/precious_metals"><img src="{{url_for('static', filename='logos/precious_metals.jpg')}}" class="logo"><br>Precious metals</a></div>
        <div class="container"><a href="/market/hard_assets/real_estate"><img src="{{url_for('static', filename='logos/real_estate.jpg')}}" class="logo"><br>Real estate</a></div>
        <!-- <div class="container"><a href="/market/hard_assets/technology"><img src="{{url_for('static', filename='logos/technology.jpg')}}" class="logo"><br>Technology</a></div> -->
        <!-- <div class="container"><a href="/market/hard_assets/telecommunications"><img src="{{url_for('static', filename='logos/telecommunications.jpg')}}" class="logo"><br>Telecomunications</a></div> -->
        <!-- <div class="container"><a href="/market/hard_assets/transport"><img src="{{url_for('static', filename='logos/transport.jpg')}}" class="logo"><br>Transport</a></div> -->
        <!-- <div class="container"><a href="/market/hard_assets/pharmaceutical_industry"><img src="{{url_for('static', filename='logos/pharmaceutical_industry.jpg')}}" class="logo"><br>Pharmaceutical industry</a></div> -->
    </div>
</details>
<details>
    <summary><a href="/market/liquid_assets">Liquid assets</a></summary>
    <div class="multi">
        <div class="container"><a href="/market/liquid_assets/bonds"><img src="{{url_for('static', filename='logos/bonds.jpg')}}" class="logo"><br>Bonds</a></div>
        <!-- <div class="container"><a href="/market/liquid_assets/debt"><img src="{{url_for('static', filename='logos/debt.jpg')}}" class="logo"><br>Debt</a></div> -->
        <!-- <div class="container"><a href="/market/liquid_assets/futures"><img src="{{url_for('static', filename='logos/futures.jpg')}}" class="logo"><br>Futures</a></div> -->
        <div class="container"><a href="/market/liquid_assets/stocks"><img src="{{url_for('static', filename='logos/stocks.jpg')}}" class="logo"><br>Stocks</a></div>
    </div>
</details>

<details>
    <summary><a href="/market/auctions">Auctions</a></summary>
    <div class="multi">
        <div class="container"><a href="/market/auctions"><img src="{{url_for('static', filename='logos/auctions.jpg')}}" class="logo"><br>Auctions</a></div>
    </div>
</details>

<details>
    <summary><a href="/market/trades">Trades</a></summary>
    <div class="multi">
        <div class="container"><a href="/market/trades"><img src="{{url_for('static', filename='logos/trades.jpg')}}" class="logo"><br>Trades</a></div>
    </div>
</details>
{% endblock %}