{% extends "layout.html" %}
{% block content %}
<form action="" method="POST">
    <fieldset>
        <legend>Receipient information</legend>
        <table>
            <tr>
                <td>Receipient ID:</td>
                <td><input name="receipient_id" type="number"></td>
            </tr>
            <tr>
                <td>Amount:</td>
                <td><input name="amount" type="number"></td>
            </tr>
            <tr>
                <td colspan="2">
                    <button>PAY</button>
                </td>
            </tr>
        </table>
    </fieldset>
</form>
{% endblock %}