{% extends "home/template.html" %}
{% block content %}


<table>
	<tr>
		<th>Bank logo</th>
		<th>Bank name</th>
		<th>Status</th>
		<th>Amount</th>
		<th>Interest rate</th>
		<th>Total debt</th>
		<th>Due date</th>
		<th>Created at</th>
        <th>Mortgate</th>
	</tr>
    {% for loan, bank, asset in loans %}
        <tr>
            <td>
                <a href="/borrow/bank/{{ bank.id }}">
                    <img bank_logo_min src="/static/logos/{{ bank.get_images()[0] }}" alt="{{ bank.name }} image">
                </a>
            </td>
            <td><a href="/borrow/bank/{{ bank.id }}">{{ bank.name }}</a></td>
            <td>{{ loan.status }}</td>
            <td><span class="m">{{ loan.amount | price }}</span></td>
            <td><span class="p">{{ (loan.interest_rate - 1) * 100 | price }}</span></td>
            <td><span class="m">{{ loan.full_cost() | price }}</span></td>
            <td><span class="t">{{ loan.due_date | time }}</span></td>
            <td><span class="t">{{ loan.date_created | time }}</span></td>
            <td>{{ asset.name }}</td>
        </tr>
    {% endfor %}
</table>
{% endblock %}