{% extends "home/template.html" %}
{% block content %}

Bank loans: {{ link(url_for('home.home_bank_loans'), 'bank loans') }}<br>
Personal loans: {{ link(url_for('home.home_personal_loans'), 'personal loans') }}<br>

<br>

<h3>Debt</h3>

<table>
	<tr>
		<th>Unpaid Debt</th>
		<th>Paid Debt</th>
		<th>Total Debt</th>
		<th>Security value</th>
	</tr>
	<tr>
		<td><span class="m">{{ 1 | price }}</span></td>
		<td><span class="m">{{ 1 | price }}</span></td>
		<td><span class="m">1</span></td>
		<td><span class="m">1</span></td>
	</tr>
</table>

{% endblock %}