{% extends "home/template.html" %}
{% block content %}

Bank loans: <a href="/home/loans/bank">bank loans</a><br>
Personal loans: <a href="/home/loans/personal">personal loans</a><br>

<br>

<h3>Debt</h3>

<table>
	<tr>
		<th>Unpaid Debt</th>
		<th>Paid Debt</th>
		<th>Total Debt</th>
		<th>Security value</th>
	</tr>
	<tr>
		<td><span class="m">{{ 1 | price }}</span></td>
		<td><span class="m">{{ 1 | price }}</span></td>
		<td><span class="m">1</span></td>
		<td><span class="m">1</span></td>
	</tr>
</table>

{% endblock %}