{% extends "home/template.html" %}
{% block content %}

Stock sales: <a href="/home/sales/asset/l/stock">stock sales</a><br>
Bond sales: <a href="/home/sales/asset/l/bond">bond sales</a><br>


<h3>Stock sales</h3>

<table tb>
    <tr>
		<th>Image</th>
		<th>Item</th>
		<th>Status</th>
		<th>Price</th>
		<th>Seller</th>
		<th>Buyer</th>
		<th>Start</th>
		<th>End</th>
    </tr>
    {% for sale in sales %}
    <tr>
        <td>
            <a href="/hard_asset/asset/{{ sale.hard_asset.id }}">
                <img asset_image src="/static/assets/hard/{{ sale.hard_asset.get_images()[0] }}" alt="{{ sale.hard_asset.name }} image">
            </a>
        </td>
		<td><a href="/hard_asset/asset/{{ sale.hard_asset.id }}">{{ sale.hard_asset.name }}</a></td>
		<td>
			{% if sale.is_over() %}
				<span class="status false">SOLD</span>
			{% else %}
				<span class="status true">FOR SALE</span>
			{% endif %}
		</td>
		<td><span class="m">{{ sale.price | price }}</span></td>
		<td>
			{% set seller = sale.get_seller() %}
			{% if seller %}
				<a href="/user/{{seller.id}}">{{ seller.username }}</a>
			{% else %}
				/
			{% endif %}
		</td>
		<td>
			{% set buyers = sale.get_buyer()%}
			{% if buyers %}
				<a href="/user/{{buyers.id}}">{{ buyers.username }}</a>
			{% else %}
				/
			{% endif %}
		</td>
        <td><span class="t">{{ sale.start | time }}</span></td>
        <td>
			{% if sale.end %}
				<span class="t">{{ sale.end | time }}</span>
			{% else %}
				/
			{% endif %}
		</td>
    </tr>
    {% endfor %}
</table>

<br>
<br>

<h3>Bond sales</h3>

<table tb>
    <tr>
		<th>Image</th>
		<th>Item</th>
		<th>Status</th>
		<th>Price</th>
		<th>Seller</th>
		<th>Buyer</th>
		<th>Start</th>
		<th>End</th>
    </tr>
    {% for sale in sales %}
    <tr>
        <td>
            <a href="/hard_asset/asset/{{ sale.hard_asset.id }}">
                <img asset_image src="/static/assets/hard/{{ sale.hard_asset.get_images()[0] }}" alt="{{ sale.hard_asset.name }} image">
            </a>
        </td>
		<td><a href="/hard_asset/asset/{{ sale.hard_asset.id }}">{{ sale.hard_asset.name }}</a></td>
		<td>
			{% if sale.is_over() %}
				<span class="status false">SOLD</span>
			{% else %}
				<span class="status true">FOR SALE</span>
			{% endif %}
		</td>
		<td><span class="m">{{ sale.price | price }}</span></td>
		<td>
			{% set seller = sale.get_seller() %}
			{% if seller %}
				<a href="/user/{{seller.id}}">{{ seller.username }}</a>
			{% else %}
				/
			{% endif %}
		</td>
		<td>
			{% set buyers = sale.get_buyer()%}
			{% if buyers %}
				<a href="/user/{{buyers.id}}">{{ buyers.username }}</a>
			{% else %}
				/
			{% endif %}
		</td>
        <td><span class="t">{{ sale.start | time }}</span></td>
        <td>
			{% if sale.end %}
				<span class="t">{{ sale.end | time }}</span>
			{% else %}
				/
			{% endif %}
		</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}