{% extends "home/template.html" %}
{% block content %}

Hard asset sales: {{ link(url_for('home.home_ha_sales_overview'), 'hard asset sales') }}<br>
Liquid asset sales: {{ link(url_for('home.home_la_sales_overview'), 'liquid asset sales') }}<br>

<br>

<h3>Hard assets</h3>

<table>
	<tr>
		<th></th>
		<th>Sold</th>
		<th>Bought</th>
		<th>For sale</th>
	</tr>
	<tr>
		<td>Total: </td>
		<td>{{ current_user.ha_sold | price }}</td>
		<td>{{ current_user.ha_bought | price }}</td>
		<td>{{ 1 | price }}</td>
	</tr>
</table>


<h3>Liquid assets</h3>

<table>
	<tr>
		<th></th>
		<th>Sold</th>
		<th>Bought</th>
		<th>For sale</th>
	</tr>
	<tr>
		<td>Total: </td>
		<td>{{ current_user.la_sold | price }}</td>
		<td>{{ current_user.la_bought | price }}</td>
		<td>{{ 1 | price }}</td>
	</tr>
</table>
{% endblock %}