{% extends "home/template.html" %}
{% block content %}
<table tb>
    <tr>
        <th>Company logo</th>
        <th>Company Name</th>
        <th>Bonds value</th>
        <th>Bonds interest rate</th>
        <th>Bonds full value</th>
        <th>Number of bonds</th>
    </tr>
    {% for bond, company, bond_number in bonds.items %}
    <tr>
        <td>
            {{ company_image(company) }}
        </td>
        <td>{{ company_link(company) }}</td>
        <td>{{ bond.value * bond_number | price }}</td>
        <td>{{ bond.interest_rate | percent }}</td>
        <td>{{ bond.full_value() * bond_number  | price}}</td>
        <td>{{ bond_number }}</td>
    </tr>
    {% endfor %}
</table>

{{ pagination(bonds, 'home.home_bonds') }}

{% endblock %}