{% extends "home/template.html" %}
{% block content %}
<table tb>
    <tr>
        <th>Company logo</th>
        <th>Company Name</th>
        <th>Share value</th>
        <th>Number of stock</th>
    </tr>
    {% for share, company, share_number in stock.items %}
    <tr>
        <td>
            {{ company_image(company) }}
        </td>
        <td>{{ company_link(company) }}</td>
        <td>{{ company.share_value * share_number  | price }}</td>
        <td>{{ share_number }}</td>
    </tr>
    {% endfor %}
</table>
{{ render_pagination(stock, size='sm', align='center') }}
{% endblock %}