{% extends "layout.html" %}
{% block meta_tags %}
	<link rel="stylesheet" href="{{url_for('static', filename='css/table.css')}}">
{% endblock %}
{% block style %}
<style>
    img[asset_image] {
        display: inline-block;
        width: auto;
        height: 4em;
    }
</style>
{% endblock %}
{% block content %}

Sales auctions: <a href="{{ url_for('home.home_sale_auctions') }}">sales auctions</a><br>
Purchase auctions: <a href="{{ url_for('home.home_purchase_auctions') }}">purchase auctions</a><br>


<table>
</table>
{% endblock %}