{% extends "home/template.html" %}
{% block content %}

<table tb>
    <tr>
        <th>Image</th>
		<th>Status</th>
        <th>Item name</th>
        <th>Buyer</th>
        <th>Start</th>
        <th>End</th>
        <th>Initial price</th>
        <th>Final price</th>
    </tr>
    {% for auction in auctions %}
    <tr>
        <td>
            {{ ha_image(auction.hard_asset) }}
        </td>
		<td>
			{% if auction.is_over() %}
				<span class="status false">FINNISHED</span>
			{% else %}
				<span class="status true">IN PROGRESS</span>
			{% endif %}
		</td>
        <td>{{ ha_link(auction.hard_asset) }}</td>
		<td>
			{% set buyer = auction.get_buyer()%}
			{% if buyer %}
				{{ user_link(buyer) }}
			{% else %}
				/
			{% endif %}
		</td>
        <td><{{ auction.start | time }}</td>
        <td><{{ auction.end | time }}</td>

        <td><{{ auction.initial_price | price }}</td>
        <td><{{ auction.final_price | price }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}