{% extends "layout.html" %}
{% block style %}
<style>
    [image] {
        height: 10em;
    }

    .container {
        display: grid;
        grid-template-areas: 'name name name'
                             'info join bids';
        grid-template-columns: auto auto auto;
        width: auto;
    }
    
    .name {
        grid-area: name;
        width: 100%;
        text-align: center;
        margin-bottom: 1em;
        font-size: 1.3rem;
        border-bottom: 1px solid #ddd;
    }

    .info {
        grid-area: info;
        text-align: center;
        padding: 0.5em;
    }

    .join {
        grid-area: join;
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
        padding: 0.5em;
    }

    .bids {
        grid-area: bids;
        padding: 0.5em;
    }

    [hammer_logo] {
        height: 5em;
    }

    table[bb] tr {
        border-bottom: 1px solid #727272;
        text-align: left;
    }

    table[bb] td {
        padding: 0em 1em;
    }
</style>
{% endblock %}
{% block content %}
<div class="container">
    <div class="name"><b>{{ auction.hard_asset.name }}</b></div>
    <div class="info">
        <a href="/auction/{{ auction.id }}">
            <img image src="/static/assets/hard/{{ auction.hard_asset.get_images()[0] }}" alt="{{ auction.hard_asset.name }} image">
        </a>
        <table bb class="col-12">
            <tr>
                <td><span mark>Propery value</span></td>
                <td>{{ auction.hard_asset.value | price }}</td>
            </tr>
            <tr>
                <td><span mark>Auction price</td>
                <td>{{ auction.final_price | price }}</span></td>
            </tr>
            <tr>
                <td><span mark>Current owner</span></td>
                <td>{{ user_link(auction.get_seller()) }}</td>
            </tr>
            <tr>
                <td><span mark>Auction start</span></td>
                <td>{{ auction.start | time }} </td>
            </tr>
        </table>
    </div>
    <div class="join">
        <form action="" method="POST">
            <b>Conditions for participation in the auction</b>
            <br><br>
            The amount of the security deposit is {{ auction.security_deposit | price }}.
            <br>
            <br>
            1. If you join the auction the security deposit will be frozen.
            You will get your money back at the end of the auction.
            You will not be able to use this money until the end of the auction.
            It will only be removed from your account if you win the auction and do not pay.
            <br>
            <br>
            Do you agree to these terms <input type="checkbox" name="agree_to_terms" required>.
            <br>
            <hr>
            2. The auction is conducted by (this bank) to join pay the the commission of {{ auction.bank.auction_commission | price }}.
            <br>
            <br>
            Agree to play commission <input type="checkbox" name="agree_to_commission" required>.
            <br>
            <br>
            Click this button to join the auction <button>JOIN</button>
        </form>
    </div>
    <div class="bids">
        <center>
            <table tb class="col-12">
                <tr>
                    <th colspan="100">All bids</th>
                </tr>
                <tr>
                    <td>Bidder</td>
                    <td>Amount</td>
                    <td>Time</td>
                </tr>
                {% for bid in auction.bids[5::-1] %}
                <tr>
                    <td>{{ bid.bidder.user.username }}</td>
                    <td>{{ bid.amount | price }}</td>
                    <td>{{ bid.time | time }}</td>
                </tr>
                {% endfor %}
            </table>
        </center>
    </div>
</div>
{% endblock %}