{% extends "layout.html" %}
{% block content %}
<table tb>
    <tr>
        <th colspan="100">{{ asset.name }}</th>
    </tr>
    <tr>
        <td colspan="100">
			{{ ha_image(asset) }}
        </td>
    </tr>
    <tr>
        <td>Value</td>
        <td colspan="100">{{ asset.value  | price }}</td>
    </tr>
    <tr>
        <td>Current owner</td>
        <td colspan="100">{{ asset.owner.username }}</td>
    </tr>
    <tr>
        <th>Seller</th>
        <th>Buyer</th>
        <th>Sale price</th>
        <th>Status</th>
        <th>Sale start</th>
        <th>Sale end</th>
    </tr>
    {% for sale in sales %}
        <tr>
            <td>{{ user_link(get_seller()) }}</td>
            <td>{{ user_link(get_buyer()) }}</td>
            <td>{{ sale.price | price }}</td>
            <td>
                {% if sale.status == 0 %}
                    <span class="status for_sale"></span>
                {% else %}
                    <span class="status sold"></span>
                {% endif %}
            </td>
            <td><span class="t">{{ sale.start | time }}</span> </td>
            <td>
                {% if sale.end %}
                    <span class="t">{{ sale.end | time }}</span> 
                {% endif %}
            </td>
        </tr>
    {% endfor %}
</table>

{% endblock %}