{% extends "layout.html" %} {% block style %}
<style>
    .box {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 1em;
    }

    table td[value] {
        width: 15em;
    }
    
    table tr {
        padding: 0.5em;
        border-bottom: 1px solid gray;
    }
    
    [content] {
        width: 80%;
    }
</style>
{% endblock %} {% block content %}
<b>The property you want to buy:</b>
<br>
<table class="col-12">
    <tr>
        <th colspan="3">{{ asset.name }}</th>
    </tr>
    <tr>
        <td>Receipient ID</td>
        <td value><input type="text" value="{{ asset.owner.id }}" disabled></td>
    </tr>
    <tr>
        <td>Amount</td>
        <td value><input type="text" value="{{ sale.price }}" disabled></td>
    </tr>
    <tr>
        <td>Receipient name</td>
        <td value>{{ asset.owner.username }}</td>
    </tr>
    <tr>
        <td>Receipient full name</td>
        <td value>{{ asset.owner.full_name }}</td>
    </tr>
    <tr>
        <td>Time</td>
        <td value><span class="t">{{ sale.start | time }}</span> </td>
    </tr>
</table>
<br>
<div class="box">
    {{ ha_image(asset) }}
    <table sub class="col-12">
        <tr>
            <td>Owner ID</td>
            <td value>{{ asset.owner.id }}</td>
        </tr>
        <tr>
            <td>Owner username</td>
            <td value>{{ asset.owner.username }}</td>
        </tr>
        <tr>
            <td>Owner full name</td>
            <td value>{{ asset.owner.full_name }}</td>
        </tr>
        <tr>
            <td>Name</td>
            <td value>{{ asset.name }}</td>
        </tr>
        <tr>
            <td>Value</td>
            <td value>{{ asset.value | price }}</td>
        </tr>
        <tr>
            <td>Sale price</td>
            <td value>{{ sale.price | price }}</td>
        </tr>
        <tr>
            <td>Diffrence</td>
            <td value>{{ (asset.value - sale.price) | price }}</td>
        </tr>
        <tr>
            <td colspan="2">
                <b>Info</b>
				<br> {{ asset.info.strip(' \n\t') }} Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt cupiditate sunt
				dicta voluptate totam similique voluptatibus laudantium, officia eius quos odit mollitia tenetur iure magni, distinctio
                animi deserunt sequi hic?
            </td>
        </tr>
    </table>
</div>
<br>
<form action="" method="POST">
    {% if current_user.balance >= sale.price %}
    <input type="submit" value="CONFIRM PAYMENT" name="buy"> {% else %} YOU DO NOT HAVE ENOUGH MONEY {% endif %}
</form>
{% endblock %}