{% extends "layout.html" %}
{% block content %}
<table tb>
    <tr>
        <td colspan="2">{{ asset.name }}</td>
    </tr>
    <tr>
        <td colspan="2"><img src="/static/hard_assets/{{ asset.get_images()[0] }}" alt="{{ asset.name }} image"></td>
    </tr>
    <tr>
        <td>Value</td>
        <td><span class="m">{{ asset.value }}</span></td>
    </tr>
    <tr>
        <td>Owner ID</td>
        <td>{{ asset.owner.id }}</td>
    </tr>
    <tr>
        <td>Owner username</td>
        <td>{{ asset.owner.username }}</td>
    </tr>
    <tr>
        <td>Owner full name</td>
        <td>{{ asset.owner.full_name }}</td>
    </tr>
    <tr>
        <td>Information</td>
        <td>{{ asset.info }}</td>
    </tr>
    <tr>
        <td colspan="2">
            <a href="/hard_asset/asset/{{ asset.id }}/sale_history">sale history</a>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            {% if asset.owner == current_user %}
                {% if asset.is_on_sale() %}
                    <a href="/hard_asset/asset/{{ asset.id }}/sell"><button>EDIT SALE</button></a>
                {% else %}
                    <a href="/hard_asset/asset/{{ asset.id }}/sell"><button>SELL</button></a>
                {% endif %}

                {% if asset.is_on_auction() %}
                    <a href="/hard_asset/asset/{{ asset.id }}/auction"><button>EDIT AUCTION</button></a>
                {% else %}
                    <a href="/hard_asset/asset/{{ asset.id }}/auction"><button>PUT UP FOR AUCTION</button></a>
                {% endif %}
            {% else %}
                {% if asset.is_on_sale() %}
                    <a href="/hard_asset/asset/{{ asset.id }}/sale"><button>BUY</button></a>
                {% elif asset.is_on_auction() %}
                    <a href="/hard_asset/asset/{{ asset.id }}/auction"><button>BUY AT AUCTION</button></a>
                {% else %}
                    <span class="status not_for_sale"></span>
                {% endif %}
            {% endif %}
        </td>
    </tr>
</table>
{% endblock %}