{% extends "layout.html" %}
{% block style %}
<style>
    img[asset_image] {
        display: inline-block;
        height: 8em;
        width: auto;
    }

    img[company_logo_min] {
        display: inline-block;
        max-height: 1.7em;
    }
</style>
{% endblock %}
{% block content %}
<table tb>
    <tr>
        <th colspan="100">{{ asset.name }}</th>
    </tr>
    <tr>
        <td colspan="100">
            <a href="/hard_asset/asset/{{ asset.id }}">
                <img asset_image src="/static/hard_assets/{{ asset.get_images()[0] }}"
                alt="{{ asset.name }} image">
            </a>
        </td>
    </tr>
    <tr>
        <td>Value</td>
        <td colspan="100"><span class="m">{{ asset.value }}</span></td>
    </tr>
    <tr>
        <td>Current owner</td>
        <td colspan="100">{{ asset.owner.username }}</td>
    </tr>
    <tr>
        <th>Seller</th>
        <th>Buyer</th>
        <th>Sale price</th>
        <th>Status</th>
        <th>Sale start</th>
        <th>Sale end</th>
    </tr>
    {% for sale in sales %}
        <tr>
            <td><a href="/user/{{ sale.get_seller().id }}">{{ sale.get_seller().username }}</a></td>
            <td><a href="/user/{{ sale.get_buyer().id }}">{{ sale.get_buyer().username }}</a></td>
            <td><span class="m">{{ '{:,.2f}'.format(sale.price) }}</span></td>
            <td>
                {% if sale.status == 0 %}
                    <span class="status for_sale"></span>
                {% else %}
                    <span class="status sold"></span>
                {% endif %}
            </td>
            <td><span class="t">{{ sale.start.strftime('%d/%m/%Y %H:%M:%S') }}</span> </td>
            <td>
                {% if sale.end %}
                    <span class="t">{{ sale.end.strftime('%d/%m/%Y %H:%M:%S') }}</span> 
                {% endif %}
            </td>
        </tr>
    {% endfor %}
</table>

{% endblock %}