{% extends "layout.html" %} {% block style %}
<style>    
    span.gray {
        color: #414141;
    }
    
    span.small {
        font-size: small;
    }
    
    .container {
        display: inline-grid;
        grid-template-columns: max-content max-content;
        border: 1px solid #c0c0c0;
        background-color: #c0c0c0;
        grid-gap: 1px;
    }
    
    .asset_item {
        display: flex;
        flex-direction: row;
        padding: 0.5em;
        gap: 0.5em;
        background-color: #fff;
    }
</style>
{% endblock %}
{% block content %}

My auctions: <a href="/auctions/user/{{ current_user.id }}">auctions</a><br>
My sales: <a href="/sales/user/{{ current_user.id }}">sales</a><br>

<br>
<table tb>
    <tr>
        <td>ID</td>
        <td>{{ user.id }}</td>
        <td>Username</td>
        <td>{{ user.username }}</td>
    </tr>
    <tr>
        <td>Email</td>
        <td>{{ user.email }}</td>
        <td>Full name</td>
        <td>{{ user.full_name }}</td>
    </tr>
    <tr>
        <td>Balance</td>
        <td>{{ user.balance | price }}</td>
        <td>Type</td>
        <td>
            {% if user.type == 0 %} LEGAL_PERSON {% else %} PHYSICAL_PERSON {% endif %}
        </td>
    </tr>
    <tr>
        <td>Last login</td>
        <td><span class="t">{{ user.last_login | time }}</span> </td>
        <td>Date created</td>
        <td><span class="t">{{ user.date_created | time }}</span> </td>
    </tr>
</table>

<br>

<div class="transactions collapsable">
    <h3>Payments made</h3>
    <div>
        {{ link(url_for('users.make_transaction', receipient_id=user.id), '<button>Make transactions</button>' | safe) }}
        <br>
        <br>
        Total payments made: {{ user.total_payments_made | price }}
        <table tb>
            <tr>
                <th>Amount</th>
                <th>Receipient</th>
                <th>Time</th>
                <th>Info</th>
            </tr>
            {% for payment in user.payments_made()[-10:] %}
            <tr>
                <td>{{ payment.amount  | price }}</td>
                <td>{{ payment.payee.username }}</td>
                <td><span class="t">{{ payment.time | time }}</span></td>
                <td>{{ payment.info }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <h3>Payments received</h3>
    <div>
        Total payments received: {{ user.total_payments_received | price }}
        <table tb>
            <tr>
                <th>Amount</th>
                <th>Payer</th>
                <th>Time</th>
                <th>Info</th>
            </tr>
            {% for payment in user.payments_received()[-10:] %}
            <tr>
                <td>{{ payment.amount  | price }}</td>
                <td>{{ payment.payer.username }}</td>
                <td><span class="t">{{ payment.time | time }}</span></td>
                <td>{{ payment.info }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

<br>

<div class="hard_assets collapsable">
    <h3>Hard assets</h3>
    <div class="container">
        {% for asset in user.hard_assets %}
        <div class="asset_item">
            <div>
				{{ ha_image(asset) }}
            </div>
            <div>
                <span class="gray">Name: </span>{{ ha_link(asset) }}<br>
                <span class="gray">Value: </span>{{ asset.value  | price }}<br>
                <span class="gray">Type: </span><span class="small">{{ asset.type }}<br> </span>
                <span class="gray">Info: </span><span class="small">{{ asset.info }}<br></span>
                <span class="gray">Status: </span> {% if asset.is_on_sale() %}
                <span class="status small for_sale"></span> {% elif asset.is_on_auction() %}
                <span class="status small auction"></span> {% else %}
                <span class="status small not_for_sale"></span> {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<br>

<div class="liquid_assets collapsable">
    <h3>Company shares</h3>
    <div>
        <table tb>
            <tr>
                <th>Company logo</th>
                <th>Company Name</th>
                <th>Share value</th>
                <th>Number of shares</th>
            </tr>
            {% for share, company, share_number in user.shares() %}
            <tr>
                <td>
                    {{ company_image(company) }}
                </td>
                <td>{{ company_link(company) }}</td>
                <td>{{ company.share_value * share_number  | price }}</td>
                <td>{{ share_number }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <h3>Company bonds</h3>
    <div>
        <table tb>
            <tr>
                <th>Company logo</th>
                <th>Company Name</th>
                <th>Bonds value</th>
                <th>Bonds interest rate</th>
                <th>Bonds full value</th>
                <th>Number of bonds</th>
            </tr>
            {% for bond, company, bond_number in user.bonds() %}
            <tr>
                <td>
                    {{ company_image(company) }}
                </td>
                <td>{{ company_link(company) }}</td>
                <td>{{ bond.value * bond_number | price }}></td>
                <td>{{ bond.interest_rate | percent }}></td>
                <td>{{ bond.full_value() * bond_number | price  }}></td>
                <td>{{ bond_number }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
{% block javascript %}
<script>
    $("div.collapsable").each(function() {
        $(this).accordion({
            collapsible: true,
            active: false,
            heightStyle: "content",
        });
    });
</script>
{% endblock %}