{% extends "layout.html" %}
{% block meta_tags %}
	<link rel="stylesheet" href="{{url_for('static', filename='css/table.css')}}">
{% endblock %}
{% block style %}
<style>
    td[small] {
        font-size: small;
    }
</style>
{% endblock %}

{% block content %}
<table tb>
    <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Email</th>
        <th>Full name</th>
        <th>Balance</th>
        <th>Type</th>
        <th>Last login</th>
        <th>Date created</th>
    </tr>
    {% for user in users.items %}
        <tr data-link="/user/{{ user.id }}">
			<td>{{ user.id }}</td>
			<td>{{ user_link(user) }}</a></td>
			<td>{{ user.email }}</td>
			<td>{{ user.full_name }}</td>
			<td>{{ user.balance | price }}</td>
			<td small>
				{% if user.type == 0 %}
					LEGAL_PERSON
				{% else %}
					PHYSICAL_PERSON
				{% endif %}
			</td>
			<td small>{{ user.last_login | time }}</td>
			<td small>{{ user.date_created | time }}</td>
        </tr>
    {% endfor %}
</table>
{{ pagination(users, 'users.user_list') }}
{% endblock %}