{% extends "layout.html" %}
{% block style %}
<style>
    img[asset_image] {
        display: inline-block;
        height: auto;
        width: 7em;
    }

    img[company_logo_min] {
        display: inline-block;
        max-height: 1.7em;
    }

    span.gray {
        color: #414141;
    }

    span.small {
        font-size: small;
    }
    
    .container {
        display: inline-grid;
        grid-template-columns: max-content max-content;
        border: 1px solid #c0c0c0;
        background-color: #c0c0c0;
        grid-gap: 1px;
    }

    .asset_item {
        display: flex;
        flex-direction: row;
        padding: 0.5em;
        gap: 0.5em;
        background-color: #fff;
    }
</style>
{% endblock %}
{% block content %}
<h3>Company shares</h3>
<table tb>
    <tr>
        <th>Company logo</th>
        <th>Company Name</th>
        <th>Share value</th>
        <th>Number of shares</th>
    </tr>
    {% for share, company, share_number in current_user.shares() %}
    <tr>
        <td>
            <a href="/liquid_assets/company/{{ company.id }}">
                <img company_logo_min src="/static/companies/{{ company.get_images()[0] }}"
                    alt="{{ company.name }} image">
            </a>
        </td>
        <td><a href="/liquid_assets/company/{{ company.id }}">{{ company.name }}</a></td>
        <td><span class="m">{{ "{:,.2f}".format(company.share_value * share_number ) }}</span></td>
        <td>{{ share_number }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}