{% extends "layout.html" %}
{% block content %}
<table tb>
    <tr>
        <td colspan="2">{{ company.name }}</td>
    </tr>
    <tr>
        <td colspan="2">{{ company_image(company, size='h2') }}</td>
    </tr>
    <tr>
        <td colspan="2"><b>Company data</b></td>
    </tr>
    <tr>
        <td>Company value</td>
        <td>{{ company.value | price }}</td>
    </tr>
    <tr>
        <td>Company debt</td>
        <td>{{ company.get_debt() | price }}</td>
    </tr>
    <tr>
        <td>Total shares</td>
        <td>{{ company.share_number() }}</td>
    </tr>
    <tr>
        <td>Share value</td>
        <td>{{ company.share_value | price }}</td>
    </tr>
    <tr>
        <td>Share list</td>
        <td><a href="/assets/l/company/{{ company.id }}/stock">share list</a></td>
    </tr>
    <tr>
        <td>Bond list</td>
        <td><a href="/assets/l/company/{{ company.id }}/bonds">bond list</a></td>
    </tr>
    <tr>
        <td colspan="2"><b>Your data</b></td>
    </tr>
    <tr>
        <td>Your shares</td>
        <td>{{ current_user.share_number(company) }}</td>
    </tr>
    <tr>
        <td>Your share value</td>
        <td>{{ current_user.share_value(company) | price }}</td>
    </tr>
    <tr>
        <td>Your share %</td>
        <td>{{ (100 * current_user.share_percentage(company)) | percent }}</td>
    </tr>
    <tr>
        <td>Information</td>
        <td>{{ company.info }}</td>
    </tr>
</table>
{% endblock %}