{% extends "layout.html" %}
{% block style %}

<style>
    img[company_logo_min] {
        display: inline-block;
        max-height: 1.7em;
    }

    table {
        width: 100%;
    }
</style>

{% endblock %}
{% block content %}
<table tb>
    <tr>
        <td colspan="4">{{ company.name }}</td>
    </tr>
    <tr>
        <td colspan="4">
            <a href="/assets/l/company/{{ company.id }}">
            <img company_logo src="/static/companies/{{ company.get_images()[0] }}" alt="{{ company.name }} image">
            </a>
        </td>
    </tr>
    <tr>
        <td colspan="2">Company value</td>
        <td colspan="2"><span class="m">{{ company.value | price }}</span></td>
    </tr>
    <tr>
        <td colspan="2">Total shares</td>
        <td colspan="2">{{ company.share_number() }}</td>
    </tr>
    <tr>
        <th>User</th>
        <th>Number of shares</th>
        <th>Value</th>
        <th>Percentage</th>
    </tr>
    {% for share_number, user in shares %}
    <tr>
        <td><a href="/user/{{ user.id }}">{{ user.username }}</a></td>
        <td>{{ share_number }}</td>
        <td><span class="m">{{ share_number * company.share_value | price }}</span></td>
        <td><span class="p">{{ share_number / company.share_number( | price * 100) }}</span></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}