{% extends "home/template.html" %}
{% block content %}
<table>
    <tr>
        <th>
			{% if request.args.get('user_sort') == 'asc' %}
				&#8593;{{ link(url_for('home.home_transactions_made', user_sort='desc'), 'Payer' if made else 'Payee') }}
			{% elif request.args.get('user_sort') == 'desc' %}
				&#8595;{{ link(url_for('home.home_transactions_made', user_sort='asc'), 'Payer' if made else 'Payee') }}
			{% else %}
				{{ link(url_for('home.home_transactions_made', user_sort='asc'), 'Payer' if made else 'Payee') }}
			{% endif %}
		</th>
        <th>
			{% if request.args.get('amount_sort') == 'asc' %}
				&#8593;{{ link(url_for('home.home_transactions_made', amount_sort='desc'), 'Amount') }}
			{% elif request.args.get('amount_sort') == 'desc' %}
				&#8595;{{ link(url_for('home.home_transactions_made', amount_sort='asc'), 'Amount') }}
			{% else %}
				{{ link(url_for('home.home_transactions_made', amount_sort='asc'), 'Amount') }}
			{% endif %}
		</th>
        <th>
            {% if request.args.get('time_sort') == 'asc' %}
                &#8593;{{ link(url_for('home.home_transactions_made', time_sort='desc'), 'Time') }}
            {% elif request.args.get('time_sort') == 'desc' %}
                &#8595;{{ link(url_for('home.home_transactions_made', time_sort='asc'), 'Time') }}
            {% else %}
                &#8595;{{ link(url_for('home.home_transactions_made', time_sort='asc'), 'Time') }}
            {% endif %}
        </th>
        <th>Info</th>
    </tr>
    {% for transaction in transactions.items %}
    <tr>
        {% if made %}
            <td>{{ user_link(transaction.payee) }}</td>
        {% else %}
            <td>{{ user_link(transaction.payer) }}</td>
        {% endif %}

        <td>{{ transaction.amount | price }}</td>
        <td>{{ transaction.time | time }}</td>
        <td>{{ transaction.info | info }}</td>
    </tr>
    {% endfor %}
</table>
{% if made %}
    {{ render_pagination(transactions, endpoint='home.home_transactions_made', size='sm', align='center') }}
{% else %}
    {{ render_pagination(transactions, endpoint='home.home_transactions_received', size='sm', align='center') }}
{% endif %}
{% endblock %}