{% extends "home/template.html" %}
{% block content %}
<table>
    <tr>
        <th>Payer</th>
        <th>Amount</th>
        <th>Time</th>
        <th>Info</th>
    </tr>
    {% for transaction in transactions.items %}
    <tr>
        <td>{{ user_link(transaction.payee) }}</td>
        <td>{{ transaction.amount | price }}</td>
        <td>{{ transaction.time | time }}</td>
        <td>{{ transaction.info | info }}</td>
    </tr>
    {% endfor %}
</table>
{{ pagination(transactions, 'home.home_transactions') }}
{% endblock %}