{% extends "layout.html" %}
{% block style %}

<style>
    img[company_logo_min] {
        display: inline-block;
        max-height: 1.7em;
    }

    table {
        width: 100%;
    }
</style>
{% endblock %}
{% block content %}
<table tb>
    <tr>
        <td colspan="100">{{ company.name }}</td>
    </tr>
    <tr>
        <td colspan="100">
            <a href="/liquid_assets/company/{{ company.id }}">
            <img company_logo src="/static/companies/{{ company.get_images()[0] }}" alt="{{ company.name }} image">
            </a>
        </td>
    </tr>
    <tr>
        <td colspan="1">Company value</td>
        <td colspan="20"><span class="m">{{ '{:,.2f}'.format(company.value) }}</span></td>
    </tr>
    <tr>
        <td colspan="1">Total bonds</td>
        <td colspan="20">{{ company.bond_number() }}</td>
    </tr>
</table>
<br>
Last sale price: <span class="m">{{ company.share_value }}</span>
<table tb>
    <tr>
        <th>Number of shares</th>
        <th>Sale price / share</th>
        <th>Share value</th>
        <th>Returns</th>
        <th>Full sale price</th>
        <th>Company name</th>
        <th>User</th>
        <th></th>
    </tr>
    {% for share_number, sale, share, company, user in share_sales %}
        <tr>
            <td>{{ share_number }}</td>
            <td><span class="m">{{ sale.price }}</span></td>
            <td><span class="m">{{ sale.share.company.share_value }}</span></td>
            <td>
                {% set returns = (sale.price - company.share_value) / company.share_value * 100 %}
                {% if returns < 0 %}
                    <span class="p neg">{{ "{:,.2f}".format(returns) }}</span>
                {% elif returns > 0 %}
                    <span class="p pos">{{ "{:,.2f}".format(returns) }}</span>
                {% endif %}
            </td>
            <td><span class="m">{{ sale.price * share_number }}</span></td>
            <td>{{ company.name }}</td>
            <td>{{ share.owner.username }}</td>
            <td>
                <button>BUY</button>
            </td>
        </tr>
    {% endfor %}
</table>
{% endblock %}