{% extends "layout.html" %}
{% block style %}
<style>
    .growth {
        color: #00ae00;
        font-weight: bold;
        font-family: 'Courier New', monospace;
    }

    .fall {
        color: #b60000;
        font-weight: bold;
        font-family: 'Courier New', monospace;
    }

    .container {
        display: flex;
        /*flex-wrap: wrap;*/
        width: 100%;
        gap: 1em;
    }

    div.graph {
        width: -webkit-fill-available;
    }

    span.profit {
        color: green;
    }

    span.loss {
        color: red;
    }

    table {
        width: max-content;
        padding: 1em;
        height: 100%;
    }

    table td {
        padding: 0.2em 1em;
    }
</style>
{% endblock %}
{% block content %}
<marquee>
    <span class="growth">&#8593$2.3 Google inc.</span>&nbsp&nbsp
    <span class="fall">&#8595$4.9 Amazon inc.</span>&nbsp&nbsp
    <span class="growth">&#8593$2.3 Google inc.</span>&nbsp&nbsp
    <span class="fall">&#8595$4.9 Amazon inc.</span>&nbsp&nbsp
    <span class="growth">&#8593$2.3 Google inc.</span>&nbsp&nbsp
    <span class="fall">&#8595$4.9 Amazon inc.</span>&nbsp&nbsp
</marquee>

<div class="container">
    <div>
        <form action="" method="POST">
            <fieldset>
                <legend>Sell bonds</legend>
                <table>
                    <tr>
                        <td colspan="2">{{ company.name }}</td>
                    </tr>
                    <tr>
                        <td colspan="2"><img company_logo src="/static/companies/{{ company.get_images()[0] }}"
                                alt="{{ company.name }} image"></td>
                    </tr>
                    <tr>
                        <td>Bond value</td>
                        <td>$</td>
                    </tr>
                    <tr>
                        <td>Your bonds</td>
                        <td>{{ user_bond_number }}</td>
                    </tr>
                    <tr>
                        <td>Your bond value</td>
                        <td><span class="m">{{ '{:.2f}'.format(1) }}</span></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <hr>
                        </td>
                    </tr>
                    <tr>
                        <td>Number of bonds</td>
                        <td><input type="number" name="bond_number" value="1" step="1" min="1"
                                max="{{ user_bond_number }}" required></td>
                    </tr>
                    <tr>
                        <td>Bond price</td>
                        <td><input type="number" name="price" value="{{ 1 }}"  min="1" required></td>
                    </tr>
                    <tr>
                        <td>*Purchase bond price</td>
                        <td purchase_bond_price></td>
                    </tr>
                    <tr>
                        <td>Full price</td>
                        <td full_price></td>
                    </tr>
                    <tr>
                        <td>*Full purchase price</td>
                        <td full_purchase_price></td>
                    </tr>
                    <tr>
                        <td>Diffrence</td>
                        <td><span diff class="profit"></span></td>
                    </tr>
                    <tr>
                        <td>Returns</td>
                        <td><span returns class="profit"></span></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <input type="submit" value="SELL">
                        </td>
                    </tr>
                </table>
            </fieldset>
        </form>
    </div>
    <div class="graph">
        <br>
        <select name="" id="">
            <option value="custom">--custom--</option>
            <option value="last day">Last day</option>
            <option value="last week">Last week</option>
            <option value="last month">Last month</option>
            <option value="last year">Last year</option>
        </select> |
        Before: <input type="date" name="before">
        After: <input type="date" name="after">
        <button>SHOW</button>
        <div id="bond_chart" style="height: 300px; width: 100%;"></div>
    </div>
</div>

{% endblock %}

{% block javascript %}
<script type="text/javascript" src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.stock.min.js"></script>


<script>
    get_bond_data('{{ company.id }}');

    async function get_bond_data(id) {
        const response = await fetch('/api/company/' + id + '/bonds');
        const bond_data = await response.json();
        console.log(bond_data);
        draw_graph(bond_data);
    }

    function draw_graph(bond_data) {
        let data = bond_data.map(function(e) {
            return { label: e[1], y: e[0]};
        });

        console.log(data);

        var chart = new CanvasJS.Chart("bond_chart", {
            title:{
                text: "My First Chart in CanvasJS"              
            },
            data: [              
                {
                    // Change type to "doughnut", "line", "splineArea", etc.
                    type: "line",
                    dataPoints: data
                }
            ]
        });
        chart.render();
    }
</script>

{% endblock %}