{% extends "layout.html" %}
{% block style %}
<style>
    img[asset_image] {
        display: inline-block;
        height: auto;
        width: 7em;
    }

    img[company_logo_min] {
        display: inline-block;
        max-height: 1.7em;
    }

    span.gray {
        color: #414141;
    }

    span.small {
        font-size: small;
    }
    
    .container {
        display: inline-grid;
        grid-template-columns: max-content max-content;
        border: 1px solid #c0c0c0;
        background-color: #c0c0c0;
        grid-gap: 1px;
    }

    .asset_item {
        display: flex;
        flex-direction: row;
        padding: 0.5em;
        gap: 0.5em;
        background-color: #fff;
    }
</style>
{% endblock %}
{% block content %}

<h3>Hard assets</h3>
<div class="container">
    {% for asset in current_user.hard_assets %}
    <div class="asset_item">
        <div>
            <a href="/hard_asset/asset/{{ asset.id }}">
                <img asset_image src="/static/assets/hard/{{ asset.get_images()[0] }}" alt="{{ asset.name }} image">
            </a>
        </div>
        <div>
            <span class="gray">Name: </span><a href="/hard_asset/asset/{{ asset.id }}">{{ asset.name }}</a><br>
            <span class="gray">Value: </span><span class="m">{{ "{:,.2f}".format(asset.value) }}</span><br>
            <span class="gray">Type: </span><span class="small">{{ asset.type }}<br> </span>
            <span class="gray">Info: </span><span class="small">{{ asset.info }}<br></span>
            <span class="gray">Status: </span>
            {% if asset.is_on_sale() %}
                <span class="status small for_sale"></span>
            {% elif asset.is_on_auction() %}
                <span class="status small auction"></span>
            {% else %}
                <span class="status small not_for_sale"></span>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}