{% extends "layout.html" %}
{% block meta_tags %}
	<link rel="stylesheet" href="{{url_for('static', filename='css/table.css')}}">
{% endblock %}
{% block style %}
<style>
    img[asset_image] {
        display: inline-block;
        width: auto;
        height: 4em;
    }
</style>
{% endblock %}
{% block content %}

Active auctions: <a href="{{ url_for('home.home_sale_auctions_active') }}">active auctions</a><br>
Finnished auctions: <a href="{{ url_for('home.home_sale_auctions_finnished') }}">finnished auctions</a><br>
<br>

<table tb>
    <tr>
        <th>Image</th>
		<th>Status</th>
        <th>Item name</th>
        <th>Buyer</th>
        <th>Start</th>
        <th>End</th>
        <th>Initial price</th>
        <th>Final price</th>
    </tr>
</table>
{% endblock %}