{% extends "layout.html" %}
{% block meta_tags %}
	<link rel="stylesheet" href="{{url_for('static', filename='css/table.css')}}">
{% endblock %}
{% block style %}
<style>
    img[company_logo_min] {
        display: inline-block;
        max-height: 1.7em;
    }
</style>
{% endblock %}
{% block content %}


<h3>Sales</h3>
<table tb>
	<tr>
		<th>Id</th>
		<th>Company logo</th>
		<th>Company</th>
		<th>Price</th>
		<th>Seller</th>
		<th>Time</th>
	</tr>
	{% for sale in sales %}
		<tr>
			<td>{{ sale.id }}</td>
			<td>
				<a href="/assets/l/company/{{ sale.share.company.id }}">
					<img company_logo_min src="/static/companies/{{ sale.share.company.get_images()[0] }}" alt="{{ sale.share.company.name }} image">
				</a>
			</td>
			<td><a href="/assets/l/company/{{ sale.share.company.id }}">{{ sale.share.company.name }}</a></td>
			<td><span class="m">{{ "{:,.2f}".format(sale.price) }}</span></td>
			<td><a href="/user/{{ sale.get_seller().id }}">{{ sale.get_seller().username }}</a></td>
			<td><span class="t">{{ sale.end.strftime('%d/%m/%Y %H:%M:%S') }}</span></td>
		</tr>
	{% endfor %}
</table>

<br>
<br>


<h3>Purchases</h3>
<table tb>
	<tr>
		<th>Id</th>
		<th>Company logo</th>
		<th>Company</th>
		<th>Price</th>
		<th>Seller</th>
		<th>Time</th>
	</tr>
	{% for sale in purchases %}
		<tr>
			<td>{{ sale.id }}</td>
			<td>
				<a href="/assets/l/company/{{ sale.share.company.id }}">
					<img company_logo_min src="/static/companies/{{ sale.share.company.get_images()[0] }}" alt="{{ sale.share.company.name }} image">
				</a>
			</td>
			<td><a href="/assets/l/company/{{ sale.share.company.id }}">{{ sale.share.company.name }}</a></td>
			<td><span class="m">{{ "{:,.2f}".format(sale.price) }}</span></td>
			<td><a href="/user/{{ sale.get_seller().id }}">{{ sale.get_seller().username }}</a></td>
			<td><span class="t">{{ sale.end.strftime('%d/%m/%Y %H:%M:%S') }}</span></td>
		</tr>
	{% endfor %}
	</table>
{% endblock %}