{% extends "layout.html" %}
{% block meta_tags %}
	<link rel="stylesheet" href="{{url_for('static', filename='css/table.css')}}">
{% endblock %}
{% block style %}
<style>
    span.gray {
        color: #414141;
    }

    span.small {
        font-size: small;
    }
    
    .container {
        display: inline-grid;
        grid-template-columns: max-content max-content;
        border: 1px solid #c0c0c0;
        grid-gap: 1px;
    }

    .asset_item {
        display: flex;
        flex-direction: row;
        padding: 0.5em;
        gap: 0.5em;
        background-color: #fff;
        box-shadow:0 0 0 1px #b7b7b7;
    }
</style>
{% endblock %}