{% extends "layout.html" %}
{% block meta_tags %}
	<link rel="stylesheet" href="{{url_for('static', filename='css/table.css')}}">
{% endblock %}
{% block content %}
<table>
    <tr>
        <th>Payer</th>
        <th>Amount</th>
        <th>Time</th>
        <th>Info</th>
    </tr>
    {% for transaction in transactions.items %}
    <tr>
        <td><a href="/user/{{ transaction.payee.id }}">{{ transaction.payee.username }}</a></td>
        <td><span class="m">{{ "{:,.2f}".format(transaction.amount) }}</span></td>
        <td><span class="t">{{ transaction.time.strftime('%d/%m/%Y %H:%M:%S') }}</span></td>
        <td>
            {% if transaction.info %} {{ transaction.info }} {% else %} / {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
{% if transactions.pages > 1 %}
    <div class="pagination">
        {% if transactions.has_prev %}
            <a  href="{{ url_for('home.home_transactions', page=transactions.prev_num) }}">&laquo;</a>
        {% endif %}
        {% for page_num in transactions.iter_pages(left_edge=2, right_edge=2, left_current=2, right_current=2) %}
            {% if page_num %}
                {% if transactions.page == page_num %}
                    <a class="current" href="{{ url_for('home.home_transactions', page=page_num) }}">{{ page_num }}</a>
                {% else %}
                    <a href="{{ url_for('home.home_transactions', page=page_num) }}">{{ page_num }}</a>
                {% endif %}
            {% else %}
                ...
            {% endif %}
        {% endfor %}
        {% if transactions.has_next %}
            <a href="{{ url_for('home.home_transactions', page=transactions.next_num) }}">&raquo;</a>
        {% endif %}
    </div>
{% endif %}
{% endblock %}